In [2]:
print('hello world!')

hello world!

In [5]:
#importing packages 
import numpy as np
import pandas as pd

In [10]:
#reading data set
df = pd.read_csv(r'C:\Users\killi\Downloads\HSA06.20221122T131126.csv')

In [11]:
#inspecting data set
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  588 non-null    object
 1   Year             588 non-null    int64
 2   Area             588 non-null    object
 3   UNIT             588 non-null    object
 4   VALUE            583 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 23.1+ KB
None

In [12]:
#counting missing values
print(df.isnull().sum())

Statistic Label    0
Year               0
Area               0
UNIT               0
VALUE              5
dtype: int64

In [18]:
#replace missing values and check
print(df.fillna(0).isnull().sum())

Statistic Label    0
Year               0
Area               0
UNIT               0
VALUE              0
dtype: int64