In [1]:
print('hello world!')

hello world!

In [4]:
#importing data
import pandas as pd
average_price = pd.read_csv(r'C:\Users\killi\Downloads\HSQ06.20221122T111110.csv')
print(average_price.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  2352 non-null   object
 1   Quarter          2352 non-null   object
 2   Area             2352 non-null   object
 3   UNIT             2352 non-null   object
 4   VALUE            2268 non-null   float64
dtypes: float64(1), object(4)
memory usage: 92.0+ KB
None

In [5]:
#inspecting data
print(average_price.head())

    Statistic Label Quarter      Area  UNIT    VALUE
0  New House Prices  1975Q1  National  Euro  11887.0
1  New House Prices  1975Q1    Dublin  Euro  11858.0
2  New House Prices  1975Q1      Cork  Euro  10667.0
3  New House Prices  1975Q1    Galway  Euro  13519.0
4  New House Prices  1975Q1  Limerick  Euro  12565.0

In [7]:
#check for missing data
pd.read_csv(r'C:\Users\killi\Downloads\HSQ06.20221122T111110.csv', na_values='n/a' )
average_price.info()
average_price.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  2352 non-null   object
 1   Quarter          2352 non-null   object
 2   Area             2352 non-null   object
 3   UNIT             2352 non-null   object
 4   VALUE            2268 non-null   float64
dtypes: float64(1), object(4)
memory usage: 92.0+ KB

    Statistic Label Quarter      Area  UNIT    VALUE
0  New House Prices  1975Q1  National  Euro  11887.0
1  New House Prices  1975Q1    Dublin  Euro  11858.0
2  New House Prices  1975Q1      Cork  Euro  10667.0
3  New House Prices  1975Q1    Galway  Euro  13519.0
4  New House Prices  1975Q1  Limerick  Euro  12565.0

In [11]:
#importing packages
import numpy as py
import matplotlib.pylot as plt

ModuleNotFoundError: No module named 'matplotlib.pylot'