In [7]:
#start over with new data set
import pandas as pd
import numpy as np
from matplotlib import pyplot as py

#import data set
average_price = pd.read_csv(r'C:\Users\killi\Downloads\HSA06.20221122T131126.csv')

average_price.info()

#checking for missing data
average_price = pd.read_csv(r'C:\Users\killi\Downloads\HSA06.20221122T131126.csv', na_values='n/a' )
average_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  588 non-null    object
 1   Year             588 non-null    int64
 2   Area             588 non-null    object
 3   UNIT             588 non-null    object
 4   VALUE            583 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 23.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588 entries, 0 to 587
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Statistic Label  588 non-null    object
 1   Year             588 non-null    int64
 2   Area             588 non-null    object
 3   UNIT             588 non-null    object
 4   VALUE            583 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 23.1+ KB

In [8]:
#subsetting to only have Dublin and National values

area_ind = average_price.set_index('Area')
area_ind.loc[['Dublin', 'National']]

                   Statistic Label  Year  UNIT     VALUE
Area
Dublin            New House Prices  1975  Euro   13137.0
Dublin            New House Prices  1976  Euro   15342.0
Dublin            New House Prices  1977  Euro   19055.0
Dublin            New House Prices  1978  Euro   25745.0
Dublin            New House Prices  1979  Euro   32005.0
...                            ...   ...   ...       ...
National  Second Hand House Prices  2012  Euro  249132.0
National  Second Hand House Prices  2013  Euro  255912.0
National  Second Hand House Prices  2014  Euro  261634.0
National  Second Hand House Prices  2015  Euro  264565.0
National  Second Hand House Prices  2016  Euro  276272.0

[168 rows x 4 columns]